NODE_ENV=development
PORT=3333
HOST="127.0.0.1"

DATABASE_URL="postgresql://doculoc:doculoc@localhost:5432/doculoc?schema=public"

JWT_SECRET="troque-por-um-segredo-com-pelo-menos-24-caracteres"

ORAGO_BASE_URL="https://sandbox.oragoapp.com.br"
ORAGO_API_TOKEN="cole-sua-chave-sandbox-ou-producao"

CONTRACT_TEMPLATE_PATH=src/templates/default-rental-application-contract.docx

STORAGE_DRIVER=local
CONTRACT_OUTPUT_DIR=storage/contracts

S3_ENDPOINT=
S3_REGION=auto
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

CORS_ORIGIN="http://localhost:5173"

APP_URL="https://localhost:5173"

# Resend
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxx"
MAIL_FROM="Doculoc <noreply@doculoc.com.br>"
PASSWORD_RESET_TOKEN_EXPIRES_MINUTES=60