NODE_ENV=development
PORT=3333
HOST="127.0.0.1"
DATABASE_URL="file:./dev.db"
JWT_SECRET="troque-por-um-segredo-grande"
ORAGO_BASE_URL="https://sandbox.oragoapp.com.br"
ORAGO_API_TOKEN="cole-sua-chave-sandbox-ou-producao"
